In [1]:
import pandas as pd

### Задание 1

In [63]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
movies = pd.read_csv('ml-latest-small/movies.csv')

In [69]:
rating_df = ratings[['movieId', 'rating']].groupby('movieId').mean()

In [73]:
def classification(row):
    if row.rating<=2:
        return 'низкий рейтинг'
    elif (row.rating>2.0) & (row.rating<=4.0):
        return 'средний рейтинг'
    else:
        return 'высокий рейтинг'

In [78]:
movies['class'] = rating_df.apply(classification, axis=1)
movies.head(40)

,movieId,title,genres,class
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,NaN
1,2,Jumanji (1995),Adventure|Children|Fantasy,средний рейтинг
2,3,Grumpier Old Men (1995),Comedy|Romance,средний рейтинг
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,средний рейтинг
4,5,Father of the Bride Part II (1995),Comedy,средний рейтинг
5,6,Heat (1995),Action|Crime|Thriller,средний рейтинг
6,7,Sabrina (1995),Comedy|Romance,средний рейтинг
7,8,Tom and Huck (1995),Adventure|Children,средний рейтинг
8,9,Sudden Death (1995),Action,средний рейтинг
9,10,GoldenEye (1995),Action|Adventure|Thriller,средний рейтинг
10,11,"American President, The (1995)",Comedy|Drama|Romance,средний рейтинг
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror,средний рейтинг
12,13,Balto (1995),Adventure|Animation|Children,средний рейтинг
13,14,Nixon (1995),Drama,средний рейтинг
14,15,Cutthroat Island (1995),Action|Adventure|Romance,средний рейтинг
15,16,Casino (1995),Crime|Drama,средний рейтинг
16,17,Sense and Sensibility (1995),Drama|Romance,средний рейтинг
17,18,Four Rooms (1995),Comedy,средний рейтинг
18,19,Ace Ventura: When Nature Calls (1995),Comedy,средний рейтинг
19,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller,средний рейтинг
20,21,Get Shorty (1995),Comedy|Crime|Thriller,средний рейтинг
21,22,Copycat (1995),Crime|Drama|Horror|Mystery|Thriller,средний рейтинг
22,23,Assassins (1995),Action|Crime|Thriller,средний рейтинг
23,24,Powder (1995),Drama|Sci-Fi,средний рейтинг
24,25,Leaving Las Vegas (1995),Drama|Romance,средний рейтинг
25,26,Othello (1995),Drama,средний рейтинг
26,27,Now and Then (1995),Children|Drama,высокий рейтинг
27,28,Persuasion (1995),Drama|Romance,средний рейтинг
28,29,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi,высокий рейтинг
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Crime|Drama,высокий рейтинг
30,31,Dangerous Minds (1995),Drama,высокий рейтинг
31,32,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller,средний рейтинг
32,34,Babe (1995),Children|Drama,средний рейтинг
33,35,Carrington (1995),Drama|Romance,NaN
34,36,Dead Man Walking (1995),Crime|Drama,средний рейтинг
35,37,Across the Sea of Time (1995),Documentary|IMAX,средний рейтинг
36,38,It Takes Two (1995),Children|Comedy,средний рейтинг
37,39,Clueless (1995),Comedy|Romance,низкий рейтинг
38,40,"Cry, the Beloved Country (1995)",Drama,низкий рейтинг
39,41,Richard III (1995),Drama|War,средний рейтинг

### Задание 2

In [82]:
requests_df = pd.read_csv('ml-latest-small/keywords.csv')

In [90]:
def search(row):
    if ('москва' in row['keyword']) | ('тула' in row['keyword']) | ('ярославль' in row['keyword']):
        return 'Центр'
    elif ('петербург' in row['keyword']) | ('псков' in row['keyword']) | ('мурманск' in row['keyword']):
        return 'Северо-Запад'
    elif('владивосток' in row['keyword']) | ('сахалин' in row['keyword']) | ('хабаровск' in row['keyword']):
        return 'Дальний Восток'
    else:
        return 'undefined'

requests_df['region'] = requests_df.apply(search, axis=1)
requests_df.head()

# проверка
#requests_df.loc[requests_df['region'].isin(['Дальний Восток'])]

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

### Задание 3

In [14]:
import numpy as np

In [3]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
movies = pd.read_csv('ml-latest-small/movies.csv')

In [16]:
#список годов с 1950 по 2020 - задавать по 2010 некорректно, так как есть фильмы с 2011 по 2016 годы выпуска, которые будут записаны в 1900
years = np.arange(1950, 2020)

In [17]:
#определяем среднюю оценку каждого фильма
film_rating = ratings[['movieId', 'rating']].groupby('movieId').mean('rating')

In [18]:
#функция для поиска года в названии фильма
def production_year(row):
    for i in years:
        if str(i) in row.title:
            return i
    return 1900

In [19]:
movies['year'] = movies.apply(production_year, axis=1)

In [20]:
#объединяем таблицы названия фильма и рейтинга, вычисляем среднюю оценку по годам, сортируем
joined = movies.merge(film_rating, on='movieId', how='left')
joined[['year', 'rating']].groupby('year').mean().sort_values('rating', ascending=False)

        rating
year
1951  3.906653
1952  3.802318
1962  3.772962
1953  3.738878
1957  3.693322
...        ...
2001  3.133080
2012  3.061191
2015  3.000008
2016  2.996714
2014  2.966322

[68 rows x 1 columns]