### Задание 1

In [11]:
# The Moscow Times - Wednesday, October 2, 2002
# The Guardian - Friday, 11.10.13
# Daily News - Thursday, 18 August 1977

from datetime import datetime

date_TMT = 'Wednesday, October 2, 2002'
date_TG = 'Friday, 11.10.13'
date_DN = 'Thursday, 18 August 1977'

datetime_TMT = datetime.strptime(date_TMT, '%A, %B %d, %Y' )
datetime_TG = datetime.strptime(date_TG, '%A, %d.%m.%y')
datetime_DN = datetime.strptime(date_DN, '%A, %d %B %Y')
datetime_TMT, datetime_TG, datetime_DN

(datetime.datetime(2002, 10, 2, 0, 0),
 datetime.datetime(2013, 10, 11, 0, 0),
 datetime.datetime(1977, 8, 18, 0, 0))

### Задание 2

In [18]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

from datetime import datetime

for i in stream:
    try:
        date = datetime.strptime(i, '%Y-%m-%d')
        print(True)
    except:
        print(False)

True
False
False

### Задание 3

In [44]:
from datetime import datetime
from datetime import timedelta

def date_range(start_date, end_date):
    empty_list = []
    try:
        sd_datetime = datetime.strptime(start_date, '%Y-%m-%d')
        ed_datetime = datetime.strptime(end_date, '%Y-%m-%d')
        cnt_datetime = sd_datetime
        while cnt_datetime <= ed_datetime:
            print(cnt_datetime.strftime('%Y-%m-%d'))
            cnt_datetime += timedelta(days=1)
    except:
        return empty_list

In [48]:
date_range('2000-01-13', '2000-01-18')

2000-01-13
2000-01-14
2000-01-15
2000-01-16
2000-01-17
2000-01-18

### Задание 4

In [51]:
DEFAULT_USER_COUNT = 3

def delete_and_return_last_user(default_list=['A100', 'A101', 'A102']):

    element_to_delete = default_list[-1]
    default_list.remove(element_to_delete)
    return default_list[DEFAULT_USER_COUNT-2]

delete_and_return_last_user()
#delete_and_return_last_user()

'A101'

In [ ]:
"""
Ошибка: list index out of range - сообщает о том, что элемента с таким индексом в массиве данных нет. 
При первом "проходе" программа возвращает значение "1"-ого элемента, поскольку нумерация списка идет
с нуля, то получается нужное "коллеге" решение. При повторном запуске, длина массива default_list 
уже меньше на 1 (равна 2), и мы удаляем последний элемент, имеющий индекс 1, остается массив с 
единственным элементом, который имеет индекс 0. Итого: элемента default_list[1] при повторном 
запуске в результате повторного действия функции просто не существует.

"""